#account .content {
  -webkit-border-radius: 1em;
  border-radius: 1em;
}
#account h1 {
  padding: 1em;
  float: left;
  font-size: 1.5em;
}
#account .cancel {
  float: right;
  margin-right: 1em;
  margin-top: 1em;
}
#account form label {
  padding-left: 2em;
  margin-top: 0.9em;
  width: 10em;
  float: left;
  clear: left;
}
#account form input {
  float: left;
}
#account form .languages {
  margin-left: 2em;
  margin-top: 0.9em;
  float: left;
  clear: left;
}
#account .logout {
  position: absolute;
  right: 1em;
  bottom: 1em;
}
#account .change_password {
  position: absolute;
  left: 1em;
  bottom: 1em;
}
#account .change_password input,
#account .change_password label {
  margin-bottom: 0.1em;
  margin-left: 1em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  height: 2.5em;
  padding: 0.3em;
  float: left;
  clear: left;
}
#account .change_password .save {
  margin-top: 1em;
  float: left;
  clear: left;
}
#game {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0.5em;
  right: 0.5em;
  background: #fff;
}
@media (min-width: 50em) {
  #game[data-menu] {
    left: 20em;
  }
  #game[data-history] {
    right: 20em;
  }
}
#history .list {
  position: fixed;
  top: 3em;
  bottom: 3em;
  right: 0;
  width: 20em;
  background: #eee;
  -webkit-transition: right 0.5s;
  -moz-transition: right 0.5s;
  -o-transition: right 0.5s;
  -ms-transition: right 0.5s;
  transition: right 0.5s;
  padding: 0.5em;
  z-index: 200;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(20em);
  -moz-transform: translateX(20em);
  -o-transform: translateX(20em);
  -ms-transform: translateX(20em);
  transform: translateX(20em);
}
[data-open]#history .list {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
@media (max-width:50em) {
  #history .list {
    width: 100%;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  [data-open]#history .list {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
#history form {
  position: fixed;
  display: block;
  bottom: 0;
  right: 0;
  height: 3em;
  width: 20em;
  padding: 0.5em;
  background: #ddd;
  z-index: 200;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(20em);
  -moz-transform: translateX(20em);
  -o-transform: translateX(20em);
  -ms-transform: translateX(20em);
  transform: translateX(20em);
}
[data-open]#history form {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
#history form input {
  width: 100%;
  height: 2em;
  padding: 0.5em;
  padding-right: 4em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  border: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#history form button {
  height: 2em;
  width: 2em;
  background: transparent;
  color: #555;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  line-height: 1em;
}
@media (max-width:50em) {
  #history form {
    width: 100%;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  [data-open]#history form {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
#history .toggle {
  position: fixed;
  border-top: 3em solid transparent;
  border-bottom: 3em solid transparent;
  top: 50%;
  right: 0.5em;
  margin-top: -3em;
  border-right: 3em solid #eee;
  margin-right: -0.1em;
  z-index: 195;
}
#history .toggle:after {
  content: "\1f4ac";
  position: absolute;
  font-size: 2em;
  top: -0.5em;
  left: 0.5em;
}
#history .toggle:before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0.5em;
  background-color: #eee;
}
#history .toggle .unreadMessages:not(:empty) {
  cursor: default;
  margin-right: 0em;
  position: absolute;
  z-index: 1;
  left: 2.4em;
  top: 0.1em;
  font-size: 0.75em;
  color: #fff;
  background-color: #09d;
  padding: 0.25em;
  padding-top: 0.2em;
  width: 1.5em;
  height: 1.25em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}
#history .chat {
  padding: 0.5em;
  padding-left: 3.4em;
  position: relative;
}
#history .chat .photo {
  position: absolute;
  height: 2em;
  width: 2em;
  top: 0.5em;
  left: 0.5em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}
#history .chat .message {
  position: relative;
  padding: 0.5em;
  background-color: #fff;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}
#history .chat .message:after {
  content: '';
  position: absolute;
  top: 0.5em;
  right: 100%;
  height: 0;
  width: 0;
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-right: 0.5em solid #fff;
}
#history .chat .message header,
#history .chat .message time {
  display: block;
  text-align: left;
  font-size: 0.6em;
  color: #444;
}
#history .chat .message time {
  text-align: right;
}
#history .chat .message .text {
  padding: 0.5em 0;
}
#auth {
  max-width: 40em;
  margin: auto;
  padding: 1em;
}
#auth form {
  display: none;
}
#auth form[data-type=login] {
  display: block;
}
#auth form[data-type=login] .register {
  display: none;
}
#auth form[data-type=register] {
  display: block;
}
#auth form[data-type=register] .login {
  display: none;
}
#auth form input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.7em 1.2em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  font-size: 1em;
  margin: 0;
}
#auth form input[name=username] {
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#auth form input[name=password] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#auth form .error {
  color: #c00;
  text-align: center;
  padding: 0.5em;
}
#auth form .error.hidden {
  display: none;
}
#auth .select.hidden {
  display: none;
}
#auth .select button {
  display: block;
  margin: 0;
  width: 100%;
}
#auth .select button.login {
  background: #09c;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#auth .select button.register {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#auth .or {
  border-top: 1px solid #999;
  max-width: 8em;
  margin: 1em auto;
  margin-top: 2em;
  color: #999;
  text-align: center;
}
#auth .or span {
  position: relative;
  top: -0.5em;
  padding: 0.5em 1em;
  background: #fff;
}
#auth button.facebook {
  display: block;
  margin: 0;
  width: 100%;
  background-color: #3b5998;
  font-size: 1.3em;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
/* APP-WIDE STYLES */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
body {
  font-family: Arial, Helvetica, sans-serif, 'Segoe UI Symbol', 'Droid Sans Fallback';
  font-size: 1.1em;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button,
[role=button] {
  border: 0;
  position: relative;
  background: #555;
  color: #fff;
  padding: 0.5em 1.5em;
  font-family: Arial, Helvetica, sans-serif, 'Segoe UI Symbol', 'Droid Sans Fallback';
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  font-size: 1em;
  cursor: pointer;
}
.loading {
  font-size: 2.5em;
  color: #ccc;
  padding: 2em;
  margin: auto;
  text-align: center;
}
input,
button {
  outline: none;
}
.iScrollVerticalScrollbar {
  position: absolute;
  z-index: 9999;
  width: 3px;
  bottom: 3px;
  top: 3px;
  right: 3px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
[data-scrolling].iScrollVerticalScrollbar {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.iScrollIndicator {
  width: 100%;
  background: rgba(50,50,0,0.4);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#app {
  height: 101%;
}
.turn_list .header,
.friends .specific_challenge .header,
.friends .random_challenge .header,
.play_friend .friends_title {
  border: 0;
  position: relative;
  background: #555;
  color: #fff;
  padding: 0.5em 1.5em;
  font-family: Arial, Helvetica, sans-serif, 'Segoe UI Symbol', 'Droid Sans Fallback';
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  font-size: 1em;
}
.turn_list .header:after,
.friends .specific_challenge .header:after,
.friends .random_challenge .header:after,
.play_friend .friends_title:after {
  content: '\00a0';
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  right: 0.2em;
  bottom: 50%;
  background: rgba(255,255,255,0.2);
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
}
#menu header.main {
  background: #bbb;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  padding: 0.25em 0.5em;
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  transition: transform 0.3s;
}
#menu header.main img.logo {
  height: 2.5em;
}
#menu header.main button {
  float: right;
  padding: 0.5em 1em;
}
#menu header.main button.logout {
  background: none;
  color: #555;
}
#menu header.main button.logout:after {
  display: none;
}
#menu header.main button.logout:hover {
  color: #111;
}
@media (max-width: 50em) {
  #menu header.main button.logout {
    display: none;
  }
}
#menu header.main button.chat {
  display: none;
}
@media (max-width:50em) {
  #menu header.main {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  [data-open]#menu header.main {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  [data-focused][data-open]#menu header.main {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@media (max-width:50em) and (min-aspect-ratio:1/1) {
  #menu header.main {
    right: auto;
    bottom: 0;
    height: 100%;
    width: 4.5em;
  }
}
#menu .scroll {
  position: fixed;
  top: 3em;
  bottom: 0;
  left: 0;
  width: 20em;
  background: #ddd;
  z-index: 2000;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(-20em);
  -moz-transform: translateX(-20em);
  -o-transform: translateX(-20em);
  -ms-transform: translateX(-20em);
  transform: translateX(-20em);
}
[data-open]#menu .scroll {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
@media (max-width:50em) {
  #menu .scroll {
    width: 100%;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  [data-open]#menu .scroll {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  [data-focused][data-open]#menu .scroll {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  #menu .scroll button.close {
    display: none;
  }
}
@media (max-width:50em) and (min-aspect-ratio:1/1) {
  #menu .scroll {
    padding-left: 4.5em;
    top: 0;
  }
}
#menu .toggle {
  position: fixed;
  border-top: 3em solid transparent;
  border-bottom: 3em solid transparent;
  top: 50%;
  left: 0.5em;
  margin-top: -3em;
  border-left: 3em solid #ddd;
  margin-left: -0.1em;
  z-index: 195;
}
#menu .toggle:after {
  content: "\1f3c6";
  position: absolute;
  font-size: 2em;
  top: -0.5em;
  right: 0.5em;
}
#menu .toggle:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0.5em;
  background-color: #ddd;
}
button.close {
  position: absolute;
  top: 0em;
  right: 0em;
  background: transparent;
  padding: 0.1em 0.1em 0.4em 0.4em;
  font-size: 3em;
  line-height: 0.5em;
  color: rgba(0,0,0,0.5);
  display: block;
  overflow: hidden;
}
button.close:hover {
  color: #c00;
}
.empty_message {
  display: none;
  color: #666;
  font-size: 1.5em;
  padding: 1em;
  text-align: center;
}
.games,
.friends {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  pointer-events: none;
  text-align: center;
  padding: 0.5em;
  height: 100%;
  overflow: visible;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  -o-transition: -o-transform 0.3s, opacity 0.3s;
  -ms-transition: -ms-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  height: 0;
  position: absolute;
  width: 100%;
}
.games .waitingQueue,
.friends .waitingQueue {
  margin-top: 1em;
}
.games {
  -webkit-transform: translateY(1em);
  -moz-transform: translateY(1em);
  -o-transform: translateY(1em);
  -ms-transform: translateY(1em);
  transform: translateY(1em);
}
.friends {
  -webkit-transform: translateY(1em);
  -moz-transform: translateY(1em);
  -o-transform: translateY(1em);
  -ms-transform: translateY(1em);
  transform: translateY(1em);
}
#menu[data-active=games] .games,
#menu[data-active=friends] .friends {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  pointer-events: auto;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  height: auto;
  position: static;
}
#menu[data-no-games] .games,
#menu[data-no-games] .to_games {
  display: none;
}
#menu[data-no-games] .friends,
#menu[data-no-games] .empty_message {
  display: block;
}
.turn_list[data-empty] {
  display: none;
}
.turn_list .header {
  margin-top: 1em;
  display: block;
  padding: 0.3em 0.7em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 1em;
  cursor: default;
}
.turn_list .content {
  display: block;
  clear: both;
}
.turn_list .game_item {
  cursor: pointer;
  border-top: 1px solid #e8e8e8;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0.5em 0.7em;
  position: relative;
  background: #fff;
}
.turn_list .game_item.selected {
  background-color: #999;
}
.turn_list .game_item:first-child {
  border-top: 0;
}
.turn_list .game_item:hover {
  background-color: #ddd;
}
.turn_list .game_item button.resign {
  padding: 0 0.3em;
  font-size: 0.8em;
  float: right;
}
.turn_list:nth-of-type(odd) .header {
  float: left;
}
.turn_list:nth-of-type(even) .header {
  float: right;
}
.friends .specific_challenge .header,
.friends .random_challenge .header {
  margin-top: 1em;
  display: block;
  padding: 0.3em 0.7em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 1em;
  cursor: default;
}
.friends .specific_challenge .header {
  font-family: 'McLaren', Arial, Helvetica, sans-serif, 'Segoe UI Symbol', 'Droid Sans Fallback';
  float: left;
}
.friends .specific_challenge .play_opponent {
  width: 100%;
  height: 3em;
  clear: both;
  text-align: left;
  position: relative;
}
.friends .specific_challenge .play_opponent [name="search_text"] {
  position: absolute;
  font-size: 0.75em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  border: 1px solid #aaa;
  width: 100%;
}
.friends .specific_challenge .play_opponent button[type="submit"] {
  background-color: #08c;
  top: -0.1em;
  float: right;
  font-size: 0.8em;
}
.friends .random_challenge {
  width: 100%;
  clear: both;
}
.friends .random_challenge .play_random_opponent [type="submit"] {
  font-size: 0.8em;
  background: #c04;
}
.friends .friends_title {
  font-family: 'McLaren', Arial, Helvetica, sans-serif, 'Segoe UI Symbol', 'Droid Sans Fallback';
  float: left;
}
.play_friend .content:empty {
  display: none;
}
.play_friend {
  display: none;
}
.play_friend[data-friendcount^="1"],
.play_friend[data-friendcount^="2"],
.play_friend[data-friendcount^="3"],
.play_friend[data-friendcount^="4"],
.play_friend[data-friendcount^="5"],
.play_friend[data-friendcount^="6"],
.play_friend[data-friendcount^="7"],
.play_friend[data-friendcount^="8"],
.play_friend[data-friendcount^="9"] {
  display: block;
}
.play_friend .friends_title {
  margin-top: 1em;
  display: block;
  padding: 0.3em 0.7em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 1em;
  cursor: default;
}
.play_friend ul.content {
  display: block;
  clear: both;
  -webkit-border-radius: 0.8em;
  border-radius: 0.8em;
}
.play_friend ul.content li.friend_item {
  cursor: pointer;
  border-top: 1px solid #e8e8e8;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0.5em 0.7em;
  position: relative;
  background: #fff;
}
.play_friend ul.content li.friend_item:first-child {
  border: 0;
}
.play_friend ul.content li.friend_item:hover {
  background-color: #ddd;
}
.play_friend ul.content li.friend_item button.unfriend {
  padding: 0 0.3em;
  color: #f00;
  margin-top: -0.4em;
  font-size: 1.5em !important;
  background: transparent;
  border: 0;
  float: right;
}
label[data-queued='false'],
.play_random_opponent button[data-queued='true'] {
  display: none;
}
label[data-queued='true'],
.play_random_opponent button[data-queued='false'] {
  display: inline-block;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: rgba(0,0,0,0.5);
  text-align: center;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  pointer-events: none;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
[data-visible].modal {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  pointer-events: auto;
}
.modal .content {
  width: 90%;
  height: 90%;
  max-height: 40em;
  max-width: 60em;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  -o-transition: opacity 0.3s, -o-transform 0.3s;
  -ms-transition: opacity 0.3s, -ms-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
[data-visible].modal .content {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
/* RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
.end_game_screen {
  display: none;
  position: absolute;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  z-index: 100;
  width: 70%;
  height: 50%;
  left: 15%;
  top: 20%;
  background-color: #eee;
  border: 1px solid #999;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  text-align: center;
}
.end_game_screen .container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
}
.end_game_screen .container h1 {
  font-size: 2.25em;
  line-height: 125%;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}
.end_game_screen .container .end_message {
  position: relative;
  font-size: 2em;
  width: 100%;
  padding-right: 1.25em;
  float: left;
  height: 2em;
  clear: both;
}
.end_game_screen .container .end_message .coinimg,
.end_game_screen .container .end_message .winimg {
  position: absolute;
  top: 0;
  width: 1.25em;
  padding-left: 0.25em;
}
.end_game_screen .container .end_message .winimg {
  top: 3px;
}
.end_game_screen .container .play_again {
  clear: both;
  background: #c04;
  font-size: 1.25em;
}
.end_game_screen .container .opponent {
  color: #09d;
  font-size: 1.5em;
}
.end_game_screen[data-gameover] {
  display: block;
}
#account {
  overflow-y: scroll;
  overflow-x: hidden;
}
#account div.content {
  height: auto;
  min-height: 90%;
  margin-top: 0;
  background-color: #ddd;
}
#account .change_password {
  position: relative;
  margin: 0;
  margin-top: 0.5em;
  padding: 0;
  left: 0;
  margin-bottom: 4em;
}
#account .change_password label,
#account .change_password input,
#account .change_password button.save {
  position: relative;
  display: block;
  float: none;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 0;
  height: auto;
  right: 0;
}
#account .change_password label {
  padding: 0;
}
#account .change_password input {
  max-width: 100%;
  width: 20em;
  padding: 0.5em;
  border: 1px solid #444;
}
#account button.logout {
  bottom: 1em;
  position: absolute;
  right: 1em;
  background-color: #444;
}
.player .hand {
  position: absolute;
  display: inline;
  bottom: 7em;
  text-align: center;
  width: 100%;
}
.player .hand .card {
  position: relative;
  max-width: 14%;
  max-height: 25%;
  display: inline-block;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: max-width 0.5s, opacity 0.5s, margin-left 0.5s, top 1s, left 1s;
  -moz-transition: max-width 0.5s, opacity 0.5s, margin-left 0.5s, top 1s, left 1s;
  -o-transition: max-width 0.5s, opacity 0.5s, margin-left 0.5s, top 1s, left 1s;
  -ms-transition: max-width 0.5s, opacity 0.5s, margin-left 0.5s, top 1s, left 1s;
  transition: max-width 0.5s, opacity 0.5s, margin-left 0.5s, top 1s, left 1s;
  cursor: pointer;
  bottom: 0em;
  -webkit-transition: -webkit-transform 0.25s, max-width 0.5s;
  -moz-transition: -moz-transform 0.25s, max-width 0.5s;
  -o-transition: -o-transform 0.25s, max-width 0.5s;
  -ms-transition: -ms-transform 0.25s, max-width 0.5s;
  transition: transform 0.25s, max-width 0.5s;
  -webkit-transition: -webkit--webkit-transform 0.25s, max-width 0.5s;
  -moz-transition: -webkit--moz-transform 0.25s, max-width 0.5s;
  -o-transition: -webkit--o-transform 0.25s, max-width 0.5s;
  -ms-transition: -webkit--ms-transform 0.25s, max-width 0.5s;
  transition: -webkit-transform 0.25s, max-width 0.5s;
  -webkit-transition: -moz--webkit-transform 0.25s, max-width 0.5s;
  -moz-transition: -moz--moz-transform 0.25s, max-width 0.5s;
  -o-transition: -moz--o-transform 0.25s, max-width 0.5s;
  -ms-transition: -moz--ms-transform 0.25s, max-width 0.5s;
  transition: -moz-transform 0.25s, max-width 0.5s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-transform: translateY(-0.1em);
  -moz-transform: translateY(-0.1em);
  -o-transform: translateY(-0.1em);
  -ms-transform: translateY(-0.1em);
  transform: translateY(-0.1em);
}
[data-your_turn] .player .hand .card.hover {
  -webkit-transform: translateY(-2em);
  -moz-transform: translateY(-2em);
  -o-transform: translateY(-2em);
  -ms-transform: translateY(-2em);
  transform: translateY(-2em);
}
.player .hand .card.draw {
  max-width: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  top: -5em;
  left: -10em;
}
.opponent .hand {
  position: absolute;
  top: 5em;
  right: 1em;
  width: 10em;
  text-align: right;
}
.opponent .hand .card {
  display: inline-block;
}
.opponent .hand .card img {
  display: inline-block;
  width: 3em;
  margin-left: 0.5em;
  vertical-align: middle;
}
.opponent .hand .number {
  display: inline;
  font-size: 2em;
  vertical-align: middle;
}
.opponent .hand .number:after {
  content: '\00D7';
}
#game .health {
  position: absolute;
  height: 3em;
}
#game .player .health {
  bottom: 1em;
  left: 1em;
  right: 1em;
}
#game .opponent .health {
  top: 1em;
  right: 1em;
  left: 1em;
}
#game .health .amount {
  position: absolute;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  z-index: 5;
  vertical-align: middle;
  line-height: 1.5em;
}
#game .health .change_amount {
  display: none;
  position: absolute;
  right: 5%;
  left: 5%;
  z-index: 100;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.player #game .health .change_amount {
  text-align: right;
}
.opponent #game .health .change_amount {
  text-align: left;
}
#game .player .health .amount {
  right: 0.5em;
}
#game .opponent .health .amount {
  left: 0.5em;
}
#game .health .statuses {
  position: absolute;
  bottom: 0em;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  z-index: 5;
  overflow: hidden;
  height: 100%;
}
#game .player .health .statuses {
  right: 3em;
  text-align: right;
}
#game .opponent .health .statuses {
  left: 3em;
  text-align: left;
}
#game .health .status {
  border: 3px solid transparent;
  overflow: hidden;
}
#game .health .statuses img {
  margin-top: -0.15em;
  height: 1.55em;
}
#game .health .bars {
  background: #333;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
#game .health .bars:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '\00a0';
  border: 3px solid rgba(100,70,0,0.4);
  z-index: 6;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
#game .health .bars:before {
  position: absolute;
  top: 0em;
  left: 0;
  right: 0;
  bottom: 70%;
  content: '\00a0';
  background: rgba(255,255,255,0.3);
  z-index: 5;
}
#game .health .bars .bar {
  position: absolute;
  border-top: 3em solid #888;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#game .health .bars .wrapper {
  position: absolute;
}
#game .player .health .bars .wrapper {
  top: 0;
  left: -1em;
  right: 0;
  bottom: 0;
}
#game .player .health .bars .bar {
  top: 0;
  left: 0;
  border-right: 1em solid transparent;
}
#game .opponent .health .bars .wrapper {
  top: 0;
  right: -1em;
  left: 0;
  bottom: 0;
}
#game .opponent .health .bars .bar {
  top: 0;
  right: 0;
  border-left: 1em solid transparent;
}
#game .health .bars .negative.bar {
  border-top-color: #900;
  z-index: 2;
}
#game .health .bars .normal.bar {
  border-top-color: #09d;
  z-index: 3;
/*animation:normal_glow 4s infinite;*/
}
#game .health .bars .super.bar {
  border-top-color: #eee8d9;
  z-index: 4;
/*animation:super_glow 3.5s infinite;*/
}
#game.w-lt-60 .health .status,
#game.w-lt-60 .health .bars:after {
  border-width: 2px;
}
#game.w-lt-40 .health .status,
#game.w-lt-40 .health .bars:after {
  border-width: 1px;
}
@-moz-keyframes normal_glow {
  0% {
    border-top-color: #09d;
  }

  50% {
    border-top-color: #3be;
  }

  100% {
    border-top-color: #09d;
  }
}
@-webkit-keyframes normal_glow {
  0% {
    border-top-color: #09d;
  }

  50% {
    border-top-color: #3be;
  }

  100% {
    border-top-color: #09d;
  }
}
@-o-keyframes normal_glow {
  0% {
    border-top-color: #09d;
  }

  50% {
    border-top-color: #3be;
  }

  100% {
    border-top-color: #09d;
  }
}
@-ms-keyframes normal_glow {
  0% {
    border-top-color: #09d;
  }

  50% {
    border-top-color: #3be;
  }

  100% {
    border-top-color: #09d;
  }
}
@keyframes normal_glow {
  0% {
    border-top-color: #09d;
  }

  50% {
    border-top-color: #3be;
  }

  100% {
    border-top-color: #09d;
  }
}
@-moz-keyframes super_glow {
  0% {
    border-top-color: #eee8d9;
  }

  50% {
    border-top-color: #fff;
  }

  100% {
    border-top-color: #eee8d9;
  }
}
@-webkit-keyframes super_glow {
  0% {
    border-top-color: #eee8d9;
  }

  50% {
    border-top-color: #fff;
  }

  100% {
    border-top-color: #eee8d9;
  }
}
@-o-keyframes super_glow {
  0% {
    border-top-color: #eee8d9;
  }

  50% {
    border-top-color: #fff;
  }

  100% {
    border-top-color: #eee8d9;
  }
}
@-ms-keyframes super_glow {
  0% {
    border-top-color: #eee8d9;
  }

  50% {
    border-top-color: #fff;
  }

  100% {
    border-top-color: #eee8d9;
  }
}
@keyframes super_glow {
  0% {
    border-top-color: #eee8d9;
  }

  50% {
    border-top-color: #fff;
  }

  100% {
    border-top-color: #eee8d9;
  }
}
@import url("http://fonts.googleapis.com/css?family=McLaren");
/******************
 *  o3 overrides  *
 ******************/
body,
button,
.turn_list .header {
  font-family: 'McLaren', Arial, Helvetica, sans-serif, 'Segoe UI Symbol', 'Droid Sans Fallback';
}
#menu .scroll,
#history .list,
#game {
  top: 3.5em;
}
@media (max-width:50em) and (min-aspect-ratio:1/1) {
  #menu .scroll {
    top: 0;
  }
}
@media (max-width:50em) {
  #history .list,
  #game {
    top: 0;
  }
}
#auth {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
}
#auth .wrapper {
  display: inline-block;
  width: 40em;
  max-width: 100%;
}
#auth .title {
  font-size: 23vmin;
}
#login form .error {
  background-color: #c00;
  color: #fff;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
#login form button.login,
#login form button.register {
  background-color: #2ae;
  margin-left: 0.5em;
  margin-top: 0.5em;
}
#login form button.cancel {
  margin-right: 0.5em;
  margin-top: 0.5em;
}
.monkeychicken {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 6em;
  width: 100%;
  padding: 0.5em 1em;
  margin: auto;
  text-align: center;
  z-index: 2;
}
@media (max-aspect-ratio:1/1) {
  .monkeychicken {
    bottom: 7em;
  }
}
.monkeychicken .wrapper {
  display: inline-block;
  width: 40em;
  max-width: 100%;
  padding: 0.5em 1em;
}
.monkeychicken:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: bottom;
  margin-left: -0.3em;
}
.monkeychicken img {
  max-height: 100%;
  max-width: 100%;
}
.sky {
  position: absolute;
  background: #9df;
  top: 0;
  left: 0;
  bottom: 15%;
  margin-bottom: 6em;
  width: 100%;
  z-index: 1;
  padding: 1em;
}
.sky .monkey,
.sky .chicken {
  display: block;
  float: left;
  width: 100%;
}
@media (min-aspect-ratio:1/1) {
  .sky .monkey {
    width: 46.15%;
  }
  .sky .chicken {
    width: 53.85%;
  }
}
.grass {
  position: absolute;
  background: #7c4;
  top: 0;
  left: 0;
  bottom: 0em;
  width: 100%;
  z-index: 0;
}
#menu header.main {
  z-index: 10000;
  background: #08c;
  border-bottom: 0.5em solid #cef;
  height: 3.5em;
}
#menu header.main img.logo {
  height: 3.15em;
}
@media (max-width:50em) and (min-aspect-ratio:1/1) {
  #menu header.main {
    top: 3em;
    height: auto;
    border-top: 0.5em solid #cef;
    border-bottom: 0;
    background: #37a3db;
  }
  #menu header.main:before {
    content: "";
    background: #08c;
    position: absolute;
    top: -3.5em;
    left: 0;
    height: 3em;
    width: 100%;
    display: block;
  }
  #menu header.main img.logo {
    position: relative;
    top: -3.5em;
  }
}
#menu .scroll {
  background: #f00 url("images/layout/app_bg_trans.png");
}
[data-active=friends]#menu .scroll {
  background-color: #0aa;
}
#menu .toggle {
  color: #fff;
  border-left-color: #ffd212;
}
#menu .toggle:before {
  background-color: #ffd212;
}
[data-active=friends]#menu .toggle {
  border-left-color: #d1ef30;
}
[data-active=friends]#menu .toggle:before {
  background-color: #d1ef30;
}
#menu .turn_list.your_turn .game_item:first-child,
#menu .turn_list.game_over .game_item:first-child {
  border-top-right-radius: 0.3em;
}
#menu .turn_list.their_turn .game_item:first-child {
  border-top-left-radius: 0.3em;
}
#menu .game_item {
  text-align: left;
  height: 3em;
}
#menu .game_item:after {
  content: '\203a';
  color: #ddd;
  position: absolute;
  top: 0.05em;
  right: 0.2em;
  font-size: 2.5em;
}
#menu .game_item:hover {
  background: #fff;
}
#menu .game_item:hover:after {
  color: #888;
}
#menu .game_item.selected {
  background: #7633d5;
  color: #fff;
}
#menu .game_item.selected:after {
  color: #d9c4f6;
}
#menu .game_item.selected .last_move {
  color: #d9c4f6;
}
#menu .game_item.selected .photo:after {
  border-color: #7633d5;
}
#menu .game_item:last-of-type {
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}
#menu .game_item .photo {
  height: 2em;
  width: 2em;
  float: left;
  margin-right: 0.5em;
  position: relative;
}
#menu .game_item .photo img {
  height: 2em;
  width: 2em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}
#menu .game_item .photo:after {
  content: '\00a0';
  position: absolute;
  bottom: -0.15em;
  right: -0.15em;
  height: 0.4em;
  width: 0.4em;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
#menu .game_item[data-user-status=online] .photo:after {
  background: #5c0;
}
#menu .game_item[data-user-status=away] .photo:after {
  background: #fc4;
}
#menu .game_item[data-user-status=offline] .photo:after {
  background: #666;
  display: none;
}
#menu .game_item .last_move {
  margin-top: 0.3em;
  font-size: 0.6em;
  color: #666;
}
#menu .game_over .game_item:after {
  content: '';
  color: #ddd;
  position: absolute;
  top: 0.05em;
  right: 0.2em;
  font-size: 2.5em;
}
#menu .game_over .game_item:hover {
  background: #fff;
}
#menu .game_over .game_item:hover:after {
  color: #888;
}
#menu .game_over .game_item.selected {
  background: #7633d5;
  color: #fff;
}
#menu .game_over .game_item.selected:after {
  color: #d9c4f6;
}
#menu .game_over .game_item.selected .last_move {
  color: #d9c4f6;
}
#menu .game_over .game_item.selected .photo:after {
  border-color: #7633d5;
}
#menu .game_over .game_item .resign {
  font-size: 3em;
  margin-top: -0.8em;
  color: #f00;
  background-color: transparent;
  border: 0;
}
#menu .game_over .game_item .resign:hover {
  color: #b33;
}
.friends .to_games {
  background-color: #ea3;
  margin-bottom: 1em;
}
.friends .play_opponent button {
  background-color: #b45;
}
.friends .play_opponent input {
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 0.5em;
  border: 1px solid #444;
}
.friends .play_random_opponent button {
  background-color: #8040bb;
}
.friends .friends_title {
  background-color: #333;
}
.friends .specific_challenge .header,
.friends random_challenge .header {
  position: relative;
  color: #fff;
}
.friends .specific_challenge .header {
  background: #08c;
}
.friends .random_challenge .header {
  background: #c04;
}
button.to_friends {
  background: #5c0;
}
.turn_list button.resign {
  background: #ddd;
}
.turn_list button.resign:hover {
  background: #c01;
}
.your_turn.turn_list .header {
  background: #08c;
}
.their_turn.turn_list .header {
  background: #c04;
}
.game_over.turn_list .header {
  background: #333;
}
/*******************
 *  monkeychicken  *
 *******************/
#game img.profile {
  position: absolute;
  height: 5em;
  width: 5em;
  border: 3px solid #333;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 10;
}
#game.w-lt-60 img.profile {
  border-width: 2px;
}
#game.w-lt-40 img.profile {
  border-width: 1px;
}
#game .player img.profile {
  bottom: 2em;
  left: 2em;
}
#game .opponent img.profile {
  top: 2em;
  right: 2em;
}
#game[data-your_turn] .player img.profile {
  -webkit-animation: your_turn 2s infinite;
  -moz-animation: your_turn 2s infinite;
  -o-animation: your_turn 2s infinite;
  -ms-animation: your_turn 2s infinite;
  animation: your_turn 2s infinite;
}
#game .username {
  position: absolute;
  color: rgba(50,35,0,0.5);
  font-size: 1.8em;
  z-index: 6;
  vertical-align: middle;
  line-height: 1.5em;
}
#game .player .username {
  bottom: 0.5em;
  left: 5em;
}
#game .opponent .username {
  top: 0.5em;
  right: 5em;
}
#game .player .reputation {
  right: 1em;
  bottom: 3em;
}
#game .player .reputation .wins,
#game .player .reputation .coins,
#game .player .reputation img.icon {
  float: right;
  margin-left: 1em;
}
#game .player .reputation img.icon {
  margin-left: 0.5em;
}
#game .opponent .reputation {
  left: 1em;
  top: 3em;
}
#game .opponent .reputation .wins,
#game .opponent .reputation .coins,
#game .opponent .reputation img.icon {
  float: left;
  margin-right: 1em;
}
#game .opponent .reputation img.icon {
  margin-right: 0.5em;
}
#game .reputation {
  position: absolute;
  color: rgba(0,0,0,0.7);
  font-size: 1.5em;
}
#game .reputation img.icon {
  height: 1.25em;
  vertical-align: middle;
}
#game .reputation .wins,
#game .reputation .coins {
  display: inline;
}
#game .hand.opponent {
  float: right;
  right: 8em;
}
@-moz-keyframes your_turn {
  0% {
    margin-bottom: 0;
  }

  20% {
    margin-bottom: 6px;
  }

  60% {
    margin-bottom: 0;
  }
}
@-webkit-keyframes your_turn {
  0% {
    margin-bottom: 0;
  }

  20% {
    margin-bottom: 6px;
  }

  60% {
    margin-bottom: 0;
  }
}
@-o-keyframes your_turn {
  0% {
    margin-bottom: 0;
  }

  20% {
    margin-bottom: 6px;
  }

  60% {
    margin-bottom: 0;
  }
}
@-ms-keyframes your_turn {
  0% {
    margin-bottom: 0;
  }

  20% {
    margin-bottom: 6px;
  }

  60% {
    margin-bottom: 0;
  }
}
@keyframes your_turn {
  0% {
    margin-bottom: 0;
  }

  20% {
    margin-bottom: 6px;
  }

  60% {
    margin-bottom: 0;
  }
}
#game .health {
  position: absolute;
  height: 3em;
}
#game .player .health {
  bottom: 1em;
  left: 1em;
  right: 1em;
}
#game .opponent .health {
  top: 1em;
  right: 1em;
  left: 1em;
}
#game .health .amount {
  position: absolute;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  z-index: 5;
  vertical-align: middle;
  line-height: 1.5em;
}
#game .health .change_amount {
  display: none;
  position: absolute;
  right: 5%;
  left: 5%;
  z-index: 100;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.player #game .health .change_amount {
  text-align: right;
}
.opponent #game .health .change_amount {
  text-align: left;
}
#game .player .health .amount {
  right: 0.5em;
}
#game .opponent .health .amount {
  left: 0.5em;
}
#game .health .statuses {
  position: absolute;
  bottom: 0em;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  z-index: 5;
  overflow: hidden;
  height: 100%;
}
#game .player .health .statuses {
  right: 3em;
  text-align: right;
}
#game .opponent .health .statuses {
  left: 3em;
  text-align: left;
}
#game .health .status {
  border: 3px solid transparent;
  overflow: hidden;
}
#game .health .statuses img {
  margin-top: -0.15em;
  height: 1.55em;
}
#game .health .bars {
  background: #333;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
#game .health .bars:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '\00a0';
  border: 3px solid rgba(100,70,0,0.4);
  z-index: 6;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
#game .health .bars:before {
  position: absolute;
  top: 0em;
  left: 0;
  right: 0;
  bottom: 70%;
  content: '\00a0';
  background: rgba(255,255,255,0.3);
  z-index: 5;
}
#game .health .bars .bar {
  position: absolute;
  border-top: 3em solid #888;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#game .health .bars .wrapper {
  position: absolute;
}
#game .player .health .bars .wrapper {
  top: 0;
  left: -1em;
  right: 0;
  bottom: 0;
}
#game .player .health .bars .bar {
  top: 0;
  left: 0;
  border-right: 1em solid transparent;
}
#game .opponent .health .bars .wrapper {
  top: 0;
  right: -1em;
  left: 0;
  bottom: 0;
}
#game .opponent .health .bars .bar {
  top: 0;
  right: 0;
  border-left: 1em solid transparent;
}
#game .health .bars .negative.bar {
  border-top-color: #900;
  z-index: 2;
}
#game .health .bars .normal.bar {
  border-top-color: #09d;
  z-index: 3;
/*animation:normal_glow 4s infinite;*/
}
#game .health .bars .super.bar {
  border-top-color: #eee8d9;
  z-index: 4;
/*animation:super_glow 3.5s infinite;*/
}
#game.w-lt-60 .health .status,
#game.w-lt-60 .health .bars:after {
  border-width: 2px;
}
#game.w-lt-40 .health .status,
#game.w-lt-40 .health .bars:after {
  border-width: 1px;
}
@-moz-keyframes normal_glow {
  0% {
    border-top-color: #09d;
  }

  50% {
    border-top-color: #3be;
  }

  100% {
    border-top-color: #09d;
  }
}
@-webkit-keyframes normal_glow {
  0% {
    border-top-color: #09d;
  }

  50% {
    border-top-color: #3be;
  }

  100% {
    border-top-color: #09d;
  }
}
@-o-keyframes normal_glow {
  0% {
    border-top-color: #09d;
  }

  50% {
    border-top-color: #3be;
  }

  100% {
    border-top-color: #09d;
  }
}
@-ms-keyframes normal_glow {
  0% {
    border-top-color: #09d;
  }

  50% {
    border-top-color: #3be;
  }

  100% {
    border-top-color: #09d;
  }
}
@keyframes normal_glow {
  0% {
    border-top-color: #09d;
  }

  50% {
    border-top-color: #3be;
  }

  100% {
    border-top-color: #09d;
  }
}
@-moz-keyframes super_glow {
  0% {
    border-top-color: #eee8d9;
  }

  50% {
    border-top-color: #fff;
  }

  100% {
    border-top-color: #eee8d9;
  }
}
@-webkit-keyframes super_glow {
  0% {
    border-top-color: #eee8d9;
  }

  50% {
    border-top-color: #fff;
  }

  100% {
    border-top-color: #eee8d9;
  }
}
@-o-keyframes super_glow {
  0% {
    border-top-color: #eee8d9;
  }

  50% {
    border-top-color: #fff;
  }

  100% {
    border-top-color: #eee8d9;
  }
}
@-ms-keyframes super_glow {
  0% {
    border-top-color: #eee8d9;
  }

  50% {
    border-top-color: #fff;
  }

  100% {
    border-top-color: #eee8d9;
  }
}
@keyframes super_glow {
  0% {
    border-top-color: #eee8d9;
  }

  50% {
    border-top-color: #fff;
  }

  100% {
    border-top-color: #eee8d9;
  }
}
.player .hand {
  position: absolute;
  display: inline;
  bottom: 7em;
  text-align: center;
  width: 100%;
}
.player .hand .card {
  position: relative;
  max-width: 14%;
  max-height: 25%;
  display: inline-block;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: max-width 0.5s, opacity 0.5s, margin-left 0.5s, top 1s, left 1s;
  -moz-transition: max-width 0.5s, opacity 0.5s, margin-left 0.5s, top 1s, left 1s;
  -o-transition: max-width 0.5s, opacity 0.5s, margin-left 0.5s, top 1s, left 1s;
  -ms-transition: max-width 0.5s, opacity 0.5s, margin-left 0.5s, top 1s, left 1s;
  transition: max-width 0.5s, opacity 0.5s, margin-left 0.5s, top 1s, left 1s;
  cursor: pointer;
  bottom: 0em;
  -webkit-transition: -webkit-transform 0.25s, max-width 0.5s;
  -moz-transition: -moz-transform 0.25s, max-width 0.5s;
  -o-transition: -o-transform 0.25s, max-width 0.5s;
  -ms-transition: -ms-transform 0.25s, max-width 0.5s;
  transition: transform 0.25s, max-width 0.5s;
  -webkit-transition: -webkit--webkit-transform 0.25s, max-width 0.5s;
  -moz-transition: -webkit--moz-transform 0.25s, max-width 0.5s;
  -o-transition: -webkit--o-transform 0.25s, max-width 0.5s;
  -ms-transition: -webkit--ms-transform 0.25s, max-width 0.5s;
  transition: -webkit-transform 0.25s, max-width 0.5s;
  -webkit-transition: -moz--webkit-transform 0.25s, max-width 0.5s;
  -moz-transition: -moz--moz-transform 0.25s, max-width 0.5s;
  -o-transition: -moz--o-transform 0.25s, max-width 0.5s;
  -ms-transition: -moz--ms-transform 0.25s, max-width 0.5s;
  transition: -moz-transform 0.25s, max-width 0.5s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-transform: translateY(-0.1em);
  -moz-transform: translateY(-0.1em);
  -o-transform: translateY(-0.1em);
  -ms-transform: translateY(-0.1em);
  transform: translateY(-0.1em);
}
[data-your_turn] .player .hand .card.hover {
  -webkit-transform: translateY(-2em);
  -moz-transform: translateY(-2em);
  -o-transform: translateY(-2em);
  -ms-transform: translateY(-2em);
  transform: translateY(-2em);
}
.player .hand .card.draw {
  max-width: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  top: -5em;
  left: -10em;
}
.opponent .hand {
  position: absolute;
  top: 5em;
  right: 1em;
  width: 10em;
  text-align: right;
}
.opponent .hand .card {
  display: inline-block;
}
.opponent .hand .card img {
  display: inline-block;
  width: 3em;
  margin-left: 0.5em;
  vertical-align: middle;
}
.opponent .hand .number {
  display: inline;
  font-size: 2em;
  vertical-align: middle;
}
.opponent .hand .number:after {
  content: '\00D7';
}
.end_game_screen {
  display: none;
  position: absolute;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  z-index: 100;
  width: 70%;
  height: 50%;
  left: 15%;
  top: 20%;
  background-color: #eee;
  border: 1px solid #999;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  text-align: center;
}
.end_game_screen .container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
}
.end_game_screen .container h1 {
  font-size: 2.25em;
  line-height: 125%;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}
.end_game_screen .container .end_message {
  position: relative;
  font-size: 2em;
  width: 100%;
  padding-right: 1.25em;
  float: left;
  height: 2em;
  clear: both;
}
.end_game_screen .container .end_message .coinimg,
.end_game_screen .container .end_message .winimg {
  position: absolute;
  top: 0;
  width: 1.25em;
  padding-left: 0.25em;
}
.end_game_screen .container .end_message .winimg {
  top: 3px;
}
.end_game_screen .container .play_again {
  clear: both;
  background: #c04;
  font-size: 1.25em;
}
.end_game_screen .container .opponent {
  color: #09d;
  font-size: 1.5em;
}
.end_game_screen[data-gameover] {
  display: block;
}
#game {
  background: #b8c037 url("images/layout/background.png");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
/*transition: background-color 0.8s;*/
}
#game[data-your_turn] {
  background-color: #b8c037;
}
#game.w-lt-60 > .in_game,
#game.h-lt-60 > .in_game {
  font-size: 0.8em;
}
#game.w-lt-40 > .in_game,
#game.h-lt-40 > .in_game {
  font-size: 0.64em;
}
#game .in_game {
  width: 100%;
  height: 100%;
}
.game_result {
  position: absolute;
  top: 5em;
  bottom: 40%;
  width: 100%;
  text-align: center;
  -webkit-transition: opacity 0.25s, top 0.5s;
  -moz-transition: opacity 0.25s, top 0.5s;
  -o-transition: opacity 0.25s, top 0.5s;
  -ms-transition: opacity 0.25s, top 0.5s;
  transition: opacity 0.25s, top 0.5s;
}
.game_result:before {
  content: '';
  height: 100%;
  width: 0;
  display: inline-block;
  margin-left: -0.3em;
  vertical-align: middle;
}
.game_result img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 40%;
}
.game_result img:not(:first-child) {
  margin-left: -20%;
}
.pass {
  display: none;
  font-size: 1em;
  position: absolute;
  left: 15.5em;
  bottom: 4.5em;
  z-index: 1000;
  background-color: #09d;
}
[data-your_turn] .pass {
  display: inline-block;
}
.your_turn_text {
  font-weight: 600;
  display: none;
  font-size: 1.25em;
  position: absolute;
  left: 6.5em;
  bottom: 4.05em;
  z-index: 1000;
}
[data-your_turn] .your_turn_text {
  display: inline-block;
}
.their_turn_text {
  font-weight: 600;
  display: inline-block;
  font-size: 1.5em;
  position: absolute;
  left: 5.25em;
  bottom: 3.25em;
  z-index: 1000;
}
[data-your_turn] .their_turn_text {
  display: none;
}
.friend_item {
  background-color: #fff;
}
.friend_item .unfriend {
  color: #f00;
  margin-top: -0.4em;
  font-size: 1.5em;
  background: transparent;
  border: 0;
}
#menu header.main button.account {
  font-size: 1.6em;
  padding: 0 0.4em;
  background: transparent;
  color: #cef;
}
@media (max-width:50em) and (min-aspect-ratio:1/1) {
  #menu header.main button.account {
    position: absolute;
    left: 0;
    top: 0;
    padding: 1em;
  }
}
#menu header.main button.account:hover {
  color: #fff;
}
#account .content {
  background-color: #fff;
}
#account .content h1 {
  text-align: center;
  float: none;
}
#game img.profile {
  position: absolute;
  height: 5em;
  width: 5em;
  border: 3px solid #333;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 10;
}
#game.w-lt-60 img.profile {
  border-width: 2px;
}
#game.w-lt-40 img.profile {
  border-width: 1px;
}
#game .player img.profile {
  bottom: 2em;
  left: 2em;
}
#game .opponent img.profile {
  top: 2em;
  right: 2em;
}
#game[data-your_turn] .player img.profile {
  -webkit-animation: your_turn 2s infinite;
  -moz-animation: your_turn 2s infinite;
  -o-animation: your_turn 2s infinite;
  -ms-animation: your_turn 2s infinite;
  animation: your_turn 2s infinite;
}
#game .username {
  position: absolute;
  color: rgba(50,35,0,0.5);
  font-size: 1.8em;
  z-index: 6;
  vertical-align: middle;
  line-height: 1.5em;
}
#game .player .username {
  bottom: 0.5em;
  left: 5em;
}
#game .opponent .username {
  top: 0.5em;
  right: 5em;
}
#game .player .reputation {
  right: 1em;
  bottom: 3em;
}
#game .player .reputation .wins,
#game .player .reputation .coins,
#game .player .reputation img.icon {
  float: right;
  margin-left: 1em;
}
#game .player .reputation img.icon {
  margin-left: 0.5em;
}
#game .opponent .reputation {
  left: 1em;
  top: 3em;
}
#game .opponent .reputation .wins,
#game .opponent .reputation .coins,
#game .opponent .reputation img.icon {
  float: left;
  margin-right: 1em;
}
#game .opponent .reputation img.icon {
  margin-right: 0.5em;
}
#game .reputation {
  position: absolute;
  color: rgba(0,0,0,0.7);
  font-size: 1.5em;
}
#game .reputation img.icon {
  height: 1.25em;
  vertical-align: middle;
}
#game .reputation .wins,
#game .reputation .coins {
  display: inline;
}
#game .hand.opponent {
  float: right;
  right: 8em;
}
@-moz-keyframes your_turn {
  0% {
    margin-bottom: 0;
  }

  20% {
    margin-bottom: 6px;
  }

  60% {
    margin-bottom: 0;
  }
}
@-webkit-keyframes your_turn {
  0% {
    margin-bottom: 0;
  }

  20% {
    margin-bottom: 6px;
  }

  60% {
    margin-bottom: 0;
  }
}
@-o-keyframes your_turn {
  0% {
    margin-bottom: 0;
  }

  20% {
    margin-bottom: 6px;
  }

  60% {
    margin-bottom: 0;
  }
}
@-ms-keyframes your_turn {
  0% {
    margin-bottom: 0;
  }

  20% {
    margin-bottom: 6px;
  }

  60% {
    margin-bottom: 0;
  }
}
@keyframes your_turn {
  0% {
    margin-bottom: 0;
  }

  20% {
    margin-bottom: 6px;
  }

  60% {
    margin-bottom: 0;
  }
}
