#account {
	overflow-y: scroll;
	overflow-x: hidden;
}

#account div.content {
	height: auto;
	min-height: 90%;
	margin-top: 0;
	background-color: #ddd;
}

#account .change_password {
	position: relative;
	margin: 0;
	margin-top: 0.5em;
	padding: 0;
	left: 0;
	margin-bottom: 4em;
}
#account .change_password label, #account .change_password input, #account .change_password button.save {
	position: relative;
	display: block;
	float: none;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 0;
	height: auto;
	right: 0;
}

#account .change_password label {
	padding: 0;
}

#account .change_password input {
	max-width: 100%;
	width: 20em;
	padding: 0.5em;
	border: 1px solid #444;
	
}

#account button.logout {
	bottom: 1em;
	position: absolute;
	right: 1em;
	background-color: #444;
}