.end_game_screen {
	display: none;
	position: absolute;
	opacity: 1;
	z-index: 100;
	width: 70%;
	height: 50%;
	left: 15%;
	top: 20%;
	background-color: #eee;
	border: 1px solid #999;
	border-radius: 0.5em;
	text-align: center;
	.container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
		h1 {
			font-size: 2.25em;
			line-height: 125%;
	    margin: 0;
	    padding: 0;
			margin-bottom: 1em;
		}
		.end_message {
			position: relative;
			font-size: 2em;
	    width:  100%;
	    padding-right: 1.25em;
	    float: left;
	    height: 2em;
	    clear:  both;
			.coinimg, .winimg {
				position: absolute;
				top: 0;
		    width: 1.25em;
		    padding-left: 0.25em;
			}
			.winimg {
				top: 3px;
			}
		}
		.play_again {
	    clear: both;
	    background: #c04;
	    font-size: 1.25em;
		}
		.opponent {
	    color: #09d;
	    font-size: 1.5em;
		}
	}
	&[data-gameover] {
		display: block;
	}
}