cardwidth = 14%

.player .hand {
	position:absolute;
	display: inline;
	bottom: 7em;
	text-align:center;
	width:100%;
	.card {
		position:relative;
		max-width:cardwidth;
		max-height:25%;
		display:inline-block;
		opacity:1;
		
		transition: max-width 0.5s, opacity 0.5s, margin-left 0.5s, top 1s, left 1s;
		cursor: pointer;
		bottom: 0em;
		transition: transform 0.25s, max-width 0.5s;
		transition: -webkit-transform 0.25s, max-width 0.5s;
		transition: -moz-transform 0.25s, max-width 0.5s;
		
		transition: all 0.25s;
		transform: translateY(-0.1em);
		[data-your_turn] &.hover {
			transform: translateY(-2em);
		}
		&.draw {
			max-width:0;
			opacity:0;
			top:-5em;
			left:-10em;
		}
	}
}

.opponent .hand {
	position:absolute;
	top: 5em;
	right: 1em;
	width: 10em;
	text-align: right;
	.card {
		display: inline-block;
		img {
			display: inline-block;
			width: 3em;
			margin-left: 0.5em;
			vertical-align: middle;
		}
	}
	.number {
		display: inline;
		font-size: 2em;
		vertical-align: middle;
		&:after {
			content: '\00D7'
		}
	}
}