#game .health {
	position:absolute;
	height:3em;
}

#game .player .health {
	bottom:1em;
	left:1em;
	right:1em;
}

#game .opponent .health {
	top:1em;
	right:1em;
	left:1em;
}

#game .health .amount {
	position:absolute;
	font-size:2em;
	font-weight:bold;
	color:#fff;
	z-index:5;
	vertical-align:middle;
	line-height:1.5em;
}

#game .health .change_amount {
	display: none;
	position:absolute;
	right:5%; left:5%;
	z-index:100;
	transform: rotate(-15deg);
	.player & {
		text-align: right;
	}
	.opponent & {
		text-align: left;
	}
}

#game .player .health .amount { right:0.5em; }
#game .opponent .health .amount { left:0.5em; }

#game .health .statuses {
	position:absolute;
	bottom:0em;
	font-size:2em;
	font-weight:bold;
	color:#fff;
	z-index:5;
	overflow:hidden;
	height:100%;
}
#game .player .health .statuses { right:3em; text-align:right; }
#game .opponent .health .statuses { left:3em; text-align:left; }

#game .health .status {
	border:3px solid transparent;
	overflow:hidden;
}

#game .health .statuses img {
	margin-top: -0.15em;
	height:1.55em;
}

#game .health .bars {
	background:#333;
	height:100%; width:100%;
	border-radius: 8px;
	overflow: hidden;
	position: relative;
}

#game .health .bars:after {
	position: absolute;
	top:0; left:0; right:0; bottom:0;
	content:'\00a0';
	border:3px solid rgba(100,70,0,0.4);
	z-index: 6;
	border-radius: 8px;
}

#game .health .bars:before {
	position: absolute;
	top:0em; left:0; right:0; bottom:70%;
	content:'\00a0';
	background:rgba(255,255,255,0.3);
	z-index: 5;
}

#game .health .bars .bar {
	position: absolute;
	border-top:3em solid #888;
	box-sizing:content-box;
}
#game .health .bars .wrapper {
	position: absolute;
}
#game .player .health .bars .wrapper {
	top:0; left:-1em; right:0; bottom:0;
}
#game .player .health .bars .bar { 
	top:0; left:0; 
	border-right:1em solid transparent; 
}
#game .opponent .health .bars .wrapper {
	top:0; right:-1em; left:0; bottom:0;
}
#game .opponent .health .bars .bar { 
	top:0; right:0; 
	border-left:1em solid transparent;
}

#game .health .bars .negative.bar {
	border-top-color: #900;
	z-index:2;
}

#game .health .bars .normal.bar {
	border-top-color: #09d;
	z-index:3;
	/*animation:normal_glow 4s infinite;*/
}
#game.your_turn .player .health .bars .normal.bar,
#game.their_turn .opponent .health .bars .normal.bar {
	/*animation:normal_glow 3s infinite;*/
}
@keyframes normal_glow {
	0% { border-top-color:#09d; }
	50% { border-top-color:#3be; }
	100% { border-top-color:#09d; }
}

#game .health .bars .super.bar {
	border-top-color: #eee8d9;
	z-index:4;
	/*animation:super_glow 3.5s infinite;*/
}
#game.your_turn .player .health .bars .super.bar,
#game.their_turn .opponent .health .bars .super.bar {
	/*animation:super_glow 2.75s infinite;*/
}
@keyframes super_glow {
	0% { border-top-color:#eee8d9; }
	50% { border-top-color:#fff; }
	100% { border-top-color:#eee8d9; }
}

#game.w-lt-60 .health .status,
#game.w-lt-60 .health .bars:after { border-width:2px; }
#game.w-lt-40 .health .status,
#game.w-lt-40 .health .bars:after { border-width:1px; }