@import url('http://fonts.googleapis.com/css?family=McLaren');

/******************
 *  o3 overrides  *
 ******************/

body, 
button, 
.turn_list .header {
	font-family:'McLaren', Arial, Helvetica, sans-serif, 'Segoe UI Symbol', 'Droid Sans Fallback';
}

#menu .scroll, #history .list, #game {
	top:3.5em;
}

@media (max-width:50em) and (min-aspect-ratio:1/1) {
	#menu .scroll { top:0; }
}

@media (max-width:50em) {
	#history .list, #game { top:0; }
}

#auth {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	z-index:3;
	.wrapper {
		display: inline-block;
		width: 40em;
		max-width: 100%;
	}
	.title {
		font-size:23vmin;
	}
}

#login {
	form {
		.error {
			background-color: #c00;
			color: #fff;
			border-top-left-radius: 0.5em;
    		border-top-right-radius: 0.5em;
		}
		button.login, button.register {
			background-color: #2ae;
			margin-left: 0.5em;
			margin-top: 0.5em;
		}
		button.cancel {
			margin-right: 0.5em;
			margin-top: 0.5em;
		}
	}
}

.monkeychicken {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 6em;
	width: 100%;
	padding:0.5em 1em;
	margin: auto;
	text-align: center;
	z-index:2;
	@media (max-aspect-ratio:1/1) {
		bottom:7em;
	}
	.wrapper {
		display: inline-block;
		width: 40em;
		max-width: 100%;
		padding:0.5em 1em;
	}
	&:before {
		content:'';
		height:100%;
		display:inline-block;
		vertical-align:bottom;
		margin-left:-0.3em;
	}
	img {
		max-height:100%;
		max-width:100%;
	}
}

.sky {
	position: absolute;
	background:#9df;
	top: 0;
	left: 0;
	bottom: 15%;
	margin-bottom:6em;
	width: 100%;
	z-index:1;
	padding:1em;
	.monkey, .chicken {
		display:block;
		float:left;
		width:100%;
	}
	@media (min-aspect-ratio:1/1) {
		.monkey { width:46.15%; }
		.chicken { width:53.85%; }
	}
}
.grass {
	position: absolute;
	background:#7c4;
	top: 0;
	left: 0;
	bottom: 0em;
	width: 100%;
	z-index:0;
}

#menu {

	header.main {
		z-index:10000;
		background:#08c;
		border-bottom:0.5em solid #cef;
		height:3.5em;

		img.logo {
			height:3.15em;
		}

		@media (max-width:50em) and (min-aspect-ratio:1/1) {
			top:3em; height:auto;
			border-top:0.5em solid #cef;
			border-bottom:0;
			background:#37a3db;
			&:before {
				content:"";
				background:#08c;
				position:absolute;
				top:-3.5em; left:0;
				height:3em; width:100%;
				display:block;
			}
			img.logo {
				position:relative;
				top:-3.5em;
			}
		}
	}

	.scroll {
		background:#f00 url('images/layout/app_bg_trans.png');
		[data-active=friends]& { background-color:#0aa; }
	}

	.toggle {
		color:#fff;
		border-left-color:#ffd212;
		&:before{ background-color:#ffd212; }
		[data-active=friends]& { 
			border-left-color:#d1ef30;
			&:before{ background-color:#d1ef30; }
		}
	}

	.turn_list {
		&.your_turn, &.game_over {
			.game_item:first-child {
				border-top-right-radius:0.3em;
			}
		}
		&.their_turn {
			.game_item:first-child {
				border-top-left-radius:0.3em;
			}
		}
	}

	.game_item {
		text-align:left;
		height:3em;

		&:after {
			content:'\203a';
			color:#ddd;
			position:absolute;
			top:0.05em; right:0.2em;
			font-size:2.5em;
		}
		&:hover {
			background:#fff;
			&:after { color:#888; }
		}
		&.selected {
			background:#7633d5;
			color:#fff;
			&:after { color:#d9c4f6; }
			.last_move { color:#d9c4f6; }
			.photo:after { border-color:#7633d5; }
		}

		&:last-of-type {
			border-bottom-left-radius:0.3em;
			border-bottom-right-radius:0.3em;
		}

		.photo {
			height:2em;
			width:2em;
			float:left;
			margin-right:0.5em;
			position:relative;

			img {
				height:2em;
				width:2em;
				border-radius:0.3em;
			}

			&:after {
				content:'\00a0';
				position:absolute;
				bottom:-0.15em; right:-0.15em;
				height:0.4em; width:0.4em;
				border:2px solid #fff;
				border-radius:50%;
			}
		}

		&[data-user-status=online] {
			.photo:after { background:#5c0; }
		}
		&[data-user-status=away] {
			.photo:after { background:#fc4; }
		}
		&[data-user-status=offline] {
			.photo:after { background:#666; display:none; }
		}

		.last_move {
			margin-top:0.3em;
			font-size:0.6em;
			color:#666;
		}
	}

	.game_over .game_item {
		&:after {
			content:'';
			color:#ddd;
			position:absolute;
			top:0.05em; right:0.2em;
			font-size:2.5em;
		}
		&:hover {
			background:#fff;
			&:after { color:#888; }
		}
		&.selected {
			background:#7633d5;
			color:#fff;
			&:after { color:#d9c4f6; }
			.last_move { color:#d9c4f6; }
			.photo:after { border-color:#7633d5; }
		}
		.resign {
			font-size: 3em;
			margin-top: -0.8em;
			color: #f00;
			background-color: transparent;
			border: 0;
			&:hover {
				color: #b33;
			}
		}
	}

}

.friends {
	.to_games {
		background-color: #ea3;
		margin-bottom: 1em;
	}
	.play_opponent button {
		background-color: #b45;
	}
	.play_opponent input {
		border-radius: 0.5em;
		padding: 0.5em;
		border: 1px solid #444;
	}
	.play_random_opponent button {
		background-color: rgb(128, 64, 187);
	}
	
	.friends_title {
		background-color: #333;
	}
	
	.specific_challenge, random_challenge {
		.header {
	    position: relative;
	    color: #fff;
		}
	}

	.specific_challenge {
		.header {
			background:#08c;
		}
	}

	.random_challenge {
		.header {
			background:#c04;
		}
	}
}

button.to_friends {
	background:#5c0;
}

.turn_list {
	button.resign {
		background:#ddd;
		&:hover {
			background:#c01;
		}
	}

	& .header {
		.your_turn& {
			background:#08c;
		}
		.their_turn& {
			background:#c04;
		}
		.game_over& {
			background:#333;
		}
	}
}

/*******************
 *  monkeychicken  *
 *******************/

@import "player-data";
@import "health";
@import "hand";
@import "end_game";

#game {
	background: #b8c037 url('images/layout/background.png');
	background-position: center center;
	background-size: cover;
	/*transition: background-color 0.8s;*/
	&[data-your_turn] {
		background-color: #b8c037;
	}
	&.w-lt-60 > .in_game, 
	&.h-lt-60 > .in_game {
		font-size:0.8em;
	}
	&.w-lt-40 > .in_game, 
	&.h-lt-40 > .in_game {
		font-size:0.64em;
	}
	.in_game {
		width: 100%;
		height: 100%;
	}
}

.game_result {
	position:absolute;
	top:5em;
	bottom:40%;
	width:100%;
	text-align:center;
	transition: opacity 0.25s, top 0.5s;
	&:before {
		content: '';
		height: 100%;
		width: 0;
		display: inline-block;
		margin-left: -0.3em;
		vertical-align: middle;
	}
	img {
		display: inline-block;
		vertical-align: middle;
		max-height: 100%;
		max-width: 40%;
		&:not(:first-child) {
			margin-left:-20%;
		}
	}
}

.pass {
	display: none;
	[data-your_turn] & {
		display: inline-block;
	}
	font-size: 1em;
	position: absolute;
	left: 15.5em;
	bottom: 4.5em;
	z-index: 1000;
	background-color: #09d;
}

.your_turn_text {
	font-weight:600;
	display: none;
	font-size: 1.25em;
	position: absolute;
	left: 6.5em;
	bottom: 4.05em;
	z-index: 1000;
	[data-your_turn] & {
		display: inline-block;
	}
}

.their_turn_text {
	font-weight:600;
	display: inline-block;
	font-size: 1.5em;
	position: absolute;
	left: 5.25em;
	bottom: 3.25em;
	z-index: 1000;
	[data-your_turn] & {
		display: none;
	}
}

.friend_item {
	background-color: #fff;
	.unfriend {
		color: #f00;
		margin-top: -0.4em;
		font-size: 1.5em;
		background: transparent;
		border: 0;
	}
}

#menu header.main button.account {
	@media (max-width:50em) and (min-aspect-ratio:1/1) {
		position: absolute;
		left: 0;
		top: 0;
		padding: 1em;
	}
	font-size: 1.6em;
	padding: 0 0.4em;
	background: transparent;
	color: #cef;
	&:hover {
		color: white;
	}
}

#account .content {
	background-color: white;
	h1 {
		text-align: center;
		float: none;
	}
}