#game img.profile {
	position:absolute;
	height:5em;
	width:5em;
	border:3px solid #333;
	border-radius: 5px;
	z-index:10;
}

#game.w-lt-60 img.profile { border-width:2px; }
#game.w-lt-40 img.profile { border-width:1px; }

#game .player img.profile { bottom:2em; left:2em; }
#game .opponent img.profile { top:2em; right:2em; }

#game[data-your_turn] .player img.profile {
	animation:your_turn 2s infinite;
}
@keyframes your_turn {
	0% { margin-bottom:0; }
	20% { margin-bottom:6px; }
	60% { margin-bottom:0; }
}

#game .username {
	position:absolute;
	color:rgba(50,35,0,0.5);
	font-size:1.8em;
	z-index: 6;
	vertical-align:middle;
	line-height:1.5em;
}

#game .player .username {
	bottom:0.5em;
	left:5em;
}

#game .opponent .username {
	top:0.5em;
	right:5em;
}

#game .player .reputation {
	right:1em;
	bottom:3em;
	.wins,
	.coins,
	img.icon {
		float:right;
		margin-left: 1em;
	}
	img.icon {
		margin-left: 0.5em;
	}
}

#game .opponent .reputation {
	left:1em;
	top:3em;
	.wins,
	.coins,
	img.icon {
		float:left;
		margin-right: 1em;
	}
	img.icon {
		margin-right: 0.5em;
	}
}

#game .reputation {
	position: absolute;
	color:rgba(0,0,0,0.7);
	font-size: 1.5em;
	img.icon {
		height:1.25em;
		vertical-align: middle;
	}
	.wins,
	.coins{
		display: inline;
	}
}

#game .hand.opponent {
	float: right;
	right: 8em;
}